

 .Inscriptionbutton {
            transition: background-color 0.4s;

            transition: box-shadow 0.15s ;
            color: black;
            background-color: #C7F36B;
            border: none;
            height: 100px;
            width: 200px;
            border-radius: 50px;
            cursor: pointer;
            border-width: 1px;
            font-weight : bold;
            font-size : 22

        }
        .Inscriptionbutton:hover {
            background-color:#202530 ;
            color: #C7F36B;
            opacity: 0.8;
            box-shadow: 4px 7px 0.15px #202530;
            
            

        }
        .Inscriptionbutton:active {
            opacity: 0.6;
            background-color: #F1F3F5;
        }
 .xcursor {
    cursor: pointer;
    margin-right: ;

}

