

 .Inscriptionbutton {
            transition: background-color 0.4s;
            transition: transform 50.6s;
            transition: box-shadow 0.15s ;
            color: #22262D;
            background-color: #F2A33A;
            border: none;
            padding-left: 40px;
            padding-bottom: 40px;
            padding-top: 40px;
            padding-right: 40px;
            border-radius: 50px;
            cursor: pointer;
            border-width: 1px;
            font-weight : bold;
            font-size : 22;
            

        }
        .Inscriptionbutton:hover {
            background-color: #F2A33A ;
            color: black;
            opacity: 0.8;
            box-shadow: 4px 7px 0.15px #202530;
            transform : scale(1.05)
        }
        .Inscriptionbutton:active {
            opacity: 0.6;
            background-color: #F1F3F5;
        }
 .xcursor {
    cursor: pointer;
    margin-right: ;

}
 .pages {
    color : #F1F2F4
    

    }
    .pages:active{
        background-color: #F2A33A;;
    }
    #page1:active{
        ;
    }

  #2 {
    color: red;
    display :flex

}
#id2 {
    color: #F1F2F4;
}
#text1{
    color : #F1F2F4
}
.body {
background: linear-gradient(135deg, #22262D, #3A404A);}
#text2 {
    color :#F2A33A;
    
}
#h1text {
    color : white
}
#text4{
    color:#F2A33A ;
}
#text6{
    color: #F1F2F4
}
#text5{
    color: #22262D;
}
#text7{
    color: white;
}
.infos{
    color: #F1F2F4
}
.infos2{
    color: white;
}